<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <div>
    <input type="text" name="username" id="username">
    <input type="password" name="password" id="password">
    <button type="submit" id="login-btn">登录</button>
  </div>

  <p>Welcome to
    <%= title %>
  </p>
  <script src="/js/login.js" type="module"></script>
</body>

</html>